
    .videosHome{
        text-align: center;
       a{
         color: black;
       }
       }
   .portada{
     width: 100%;
   }
    p{
     font-weight: 600;
    }   
       .textoHome{
         margin: 20px 20px;
         margin-left: 20px;
         column-count: 3;
       }
    .videosHome {a:hover{
      color: $color-naranja;
    }}