$fuente-Dancing: 'Dancing Script', cursive;
$size:60px;
$color-naranja:  #FFA040;
$color-gris:  #2d3436;
$color-verde:  	#32CD32;
$gradiante-azul:linear-gradient(to top, #0fd850 20%, #f9f047 100%);
$color-blanco: white;
$color-negro:black;