@import"variables";


*
{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

    .bg-naranja {
      background-color: $color-naranja;
    }
  
    .bg-verde {
      background-color: $color-verde;
    }
  
    .bg-footer {
      background-color: $color-gris;
    }
  
    .c-blanco {
      color: $color-blanco;
    }
  
    .c-negro {
      color: $color-negro;
    }
  
   
  .navegador{
    display: flex;
    justify-content: space-evenly;
  
  }
  
  
  
    li {
      font-family:$fuente-Dancing;
      font-size: 30px;
    }
    h1{
      font-family: $fuente-Dancing;
      text-align: center;
    }
   
  
    h2, h3, h4 {
      font-family: $fuente-Dancing;
    }
  h3{
    text-align: center;
  }
    a {
    
      list-style: none;
      text-decoration: none;
    }
    .videosHome{
     text-align: center;
    a{
      color: black;
    }
    }
.portada{
  width: 100%;
}
    
    .textoHome{
      margin: 20px 20px;
      margin-left: 20px;
    }
  
    .titulo__footer{
        font-size: 30px;
    }
  
    ul {
      text-decoration: none;
    }
  
    .logo__redes > li {
      display: inline-block;
    
    }
    .logo__redes{
      display: flex;
      justify-content: space-evenly;
    }
 p{
   font-family: Arial, Helvetica, sans-serif;

 }
  
 
    .imagen__biografia .imagen__proyectos {
        width: 700px;
        height:500px;

     }
     .imagen__proyectos{
         width: 1000px;
         height: 600px;
     }
   


    .playlist{
     ul{
       li{
        a{
          color: white;
        }
       }
     }
    }
    //Seccion multimedia
    .linea{
      background: black;
      height: 5px;
      width: 100%;
      display: block;
    }
    
  
  .galeria{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
  .imgAnimacion{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
  }
   
  a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5 );
  }
}

 
  a:hover .imgAnimacion{
   transform: rotate(10deg) scale(1.3);
  }  
  .imgAnimacion2{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
  }
  a:hover .imgAnimacion2{
    transition: all .3s;
   } 
.light-box{
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(0, 0, 0, .5 );
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  
  
  .imgAnimacion{
    width: 75vh;
    max-height: 70vh;
   }
 
}

 .light-box:target{
   transform: scale(1);
 }
 .close{
   display: block;
   position: absolute;
   top: 40px;
   right: 40px;
   background: crimson;
   color: white;
   text-decoration: none;
   width: 60px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
 }
 .next{
   display: block;
   background: crimson;
   color: white;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-decoration: none;
   text-align: center;
 }
 .videos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
 
 }
 iframe{
   width: 350px;
   height: 300px;
 }

 .tienda{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
 text-align: center;
 
 }
 .imgTienda{
  width: 60%;
  vertical-align: top;
  height: 220px;
  object-fit: cover;
  transition: transform 0.5s;
}

.boton{
  background-color:#FFA040;

}
.cd {
  position: relative;
  .fecha-cd{
      display: none;
      color: white;
      padding: 0.3rem 0.8rem;
      font-weight: 700; 
  }
  &:hover .fecha-cd{
      display: block;  
      position: absolute;    
      bottom: 1.5rem;
      left: 45%;    
  }
}
.discos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
  .imgAnimacion{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
  }
   
  a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5 );
  }
}
.carousel-inner{
  height: 550px;
}
.imgSlider{
  height: 550px;
}
.imgGaleria{
  max-height: 550px;
  max-width: 900px;
}
.galeriaa img:hover {
  background-color: white;
  
  padding: 20px;
}
@media screen and (max-width:1023px) {
 .next{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
  .close{
    top:20px;
    right: 20px;
  }
  .light-box:target{
  text-align: center;
width: 95%
margin auto;
img {
  width: 90%;
  
  }

  }
.imgSlider{
 height: 500px;
}

.carousel-inner{
  height: 500px;
}
.imgGaleria{
  max-height: 550px;
  max-width: 600px;
}
}
@media screen and (max-width:500px) {
  .imgSlider{
    height: 350px;
   }
   
   .carousel-inner{
     height: 350px;
   }
}